<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            8GAG APP
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let post of _cap.imagenes">
        <img [src]="post.img" alt="" />
        <ion-card-content>
            <ion-card-title>{{post.titulo}}</ion-card-title>
              <ion-row>
            <ion-col text-right>
                <button (click)="compartir(post.titulo, post.img)" ion-button clear small color="primary" icon-left>
            <ion-icon name="share-alt"></ion-icon>
            Compartir
            </button>
            </ion-col>
        </ion-row>
        </ion-card-content>          
    </ion-card>

    <ion-fab bottom right>
        <button ion-fab mini color="danger" (click)="mostrar_modal()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="morePics">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>