<!--
  Generated template for the SubirPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons>
            <button ion-button (click)="cerrar_modal()"> Cerrar</button>
        </ion-buttons>
        <ion-title>{{titulo | placeHolder:'Crear nuevo post'}}</ion-title>
           <ion-buttons end>
            <button ion-button
                    (click)="crear_post()"
                    [disabled]=" titulo.length <= 1 || imagenPreview.length <= 1"> Crear Post</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label floating>Titulo</ion-label>
            <ion-input type="text" [(ngModel)]="titulo"></ion-input>
        </ion-item>
        <ion-item *ngIf="imagenPreview">
            <img [src]="imagenPreview" alt="">
        </ion-item>
    </ion-list>
    <ion-grid>
        <ion-row>
            <ion-col>
                <button ion-button block icon-left (click)="select_photo()"> 
            <ion-icon name="photos"></ion-icon>
            Seleccionar
          </button>
            </ion-col>
            <ion-col>
                <button ion-button block icon-left (click)="mostrar_camara()"> 
            <ion-icon name="camera"></ion-icon>
            Camara
          </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>